<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AppletIdentificationServiceServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>IncludeAddress</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>IncludePhoto</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>IdentityIntegrityService</param-name>
			<param-value>java:global/beta/IdentityIntegrityServiceBean</param-value>
		</init-param>
		<init-param>
			<param-name>SecureClientEnvironmentService</param-name>
			<param-value>java:global/beta/SecureClientEnvironmentBean</param-value>
		</init-param>
		<init-param>
			<param-name>AuditService</param-name>
			<param-value>java:global/beta/AuditServiceBean</param-value>
		</init-param>
		<init-param>
			<param-name>SkipNationalNumberCheck</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletIdentificationServiceServlet</servlet-name>
		<url-pattern>/applet-identification-service</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AppletAuthenticationServiceServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>AuthenticationService</param-name>
			<param-value>java:global/beta/AuthenticationServiceBean</param-value>
		</init-param>
		<init-param>
			<param-name>AuditService</param-name>
			<param-value>java:global/beta/AuditServiceBean</param-value>
		</init-param>
		<init-param>
			<param-name>SecureClientEnvironmentService</param-name>
			<param-value>java:global/beta/SecureClientEnvironmentBean</param-value>
		</init-param>
		<init-param>
			<param-name>Logoff</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletAuthenticationServiceServlet</servlet-name>
		<url-pattern>/applet-authentication-service</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PhotoServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.PhotoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PhotoServlet</servlet-name>
		<url-pattern>/photo</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PdfServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.PdfServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PdfServlet</servlet-name>
		<url-pattern>/identity.pdf</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>KmlServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.KmlServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>KmlServlet</servlet-name>
		<url-pattern>/identity.kmz</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>VcardServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.VcardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VcardServlet</servlet-name>
		<url-pattern>/identity.vcf</url-pattern>
	</servlet-mapping>

	<session-config>
		<!-- Increase for production environments -->
		<session-timeout>10</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>

	<error-page>
		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
		<location>/index.xhtml</location>
	</error-page>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>webapp</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

</web-app>