<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<!-- JBoss Seam -->
	<listener>
		<listener-class>org.jboss.seam.servlet.SeamListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>Seam Resource Servlet</servlet-name>
		<servlet-class>org.jboss.seam.servlet.SeamResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Seam Resource Servlet</servlet-name>
		<url-pattern>/seam/resource/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>Seam Filter</filter-name>
		<filter-class>org.jboss.seam.servlet.SeamFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Seam Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- JBoss Richfaces -->
	<context-param>
		<param-name>org.richfaces.SKIN</param-name>
		<param-value>DEFAULT</param-value>
	</context-param>
	<context-param>
		<param-name>org.ajax4jsf.VIEW_HANDLERS</param-name>
		<param-value>com.sun.facelets.FaceletViewHandler</param-value>
	</context-param>

	<!-- Facelets -->
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.DEVELOPMENT</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.DISABLE_FACELET_JSF_VIEWHANDLER</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- JSF -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.seam</url-pattern>
	</servlet-mapping>

	<!-- eID Applet -->
	<servlet>
		<servlet-name>AppletIdentificationServiceServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>IncludeAddress</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>IncludePhoto</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>IdentityIntegrityService</param-name>
			<param-value>fedict/eid/applet/beta/IdentityIntegrityServiceBean</param-value>
		</init-param>
		<init-param>
			<param-name>SecureClientEnvironmentService</param-name>
			<param-value>fedict/eid/applet/beta/SecureClientEnvironmentBean</param-value>
		</init-param>
		<init-param>
			<param-name>AuditService</param-name>
			<param-value>fedict/eid/applet/beta/AuditServiceBean</param-value>
		</init-param>
		<init-param>
			<param-name>SkipNationalNumberCheck</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletIdentificationServiceServlet</servlet-name>
		<url-pattern>/applet-identification-service</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AppletAuthenticationServiceServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>AuthenticationService</param-name>
			<param-value>fedict/eid/applet/beta/AuthenticationServiceBean</param-value>
		</init-param>
		<init-param>
			<param-name>AuditService</param-name>
			<param-value>fedict/eid/applet/beta/AuditServiceBean</param-value>
		</init-param>
		<init-param>
			<param-name>SecureClientEnvironmentService</param-name>
			<param-value>fedict/eid/applet/beta/SecureClientEnvironmentBean</param-value>
		</init-param>
		<init-param>
			<param-name>Logoff</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletAuthenticationServiceServlet</servlet-name>
		<url-pattern>/applet-authentication-service</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AppletSignatureServiceServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>SignatureService</param-name>
			<param-value>fedict/eid/applet/beta/SignatureServiceBean</param-value>
		</init-param>
		<init-param>
			<param-name>AuditService</param-name>
			<param-value>fedict/eid/applet/beta/AuditServiceBean</param-value>
		</init-param>
		<init-param>
			<param-name>SecureClientEnvironmentService</param-name>
			<param-value>fedict/eid/applet/beta/SecureClientEnvironmentBean</param-value>
		</init-param>
		<init-param>
			<param-name>IncludeCertificates</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletSignatureServiceServlet</servlet-name>
		<url-pattern>/applet-sign-service</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AppletOOXMLSignatureServiceServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>SignatureService</param-name>
			<param-value>fedict/eid/applet/beta/OOXMLSignatureServiceBean</param-value>
		</init-param>
		<init-param>
			<param-name>AuditService</param-name>
			<param-value>fedict/eid/applet/beta/AuditServiceBean</param-value>
		</init-param>
		<init-param>
			<param-name>SecureClientEnvironmentService</param-name>
			<param-value>fedict/eid/applet/beta/SecureClientEnvironmentBean</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletOOXMLSignatureServiceServlet</servlet-name>
		<url-pattern>/applet-sign-ooxml-service</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PhotoServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.PhotoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PhotoServlet</servlet-name>
		<url-pattern>/photo</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PdfServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.PdfServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PdfServlet</servlet-name>
		<url-pattern>/identity.pdf</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>KmlServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.KmlServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>KmlServlet</servlet-name>
		<url-pattern>/identity.kmz</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>VcardServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.VcardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VcardServlet</servlet-name>
		<url-pattern>/identity.vcf</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ODFDownloadServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.beta.webapp.ODFDownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ODFDownloadServlet</servlet-name>
		<url-pattern>/odf-download/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>OOXMLDownloadServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.beta.webapp.OOXMLDownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OOXMLDownloadServlet</servlet-name>
		<url-pattern>/ooxml-download/*</url-pattern>
	</servlet-mapping>

	<!-- eID Applet Administrator -->
	<servlet>
		<servlet-name>AppletAdministratorServiceServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>AuthenticationService</param-name>
			<param-value>fedict/eid/applet/beta/AdministratorServiceBean</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletAdministratorServiceServlet</servlet-name>
		<url-pattern>/applet-administrator-service</url-pattern>
	</servlet-mapping>

	<!-- eID Applet Administrator Registration -->
	<servlet>
		<servlet-name>AppletAdministratorRegistrationServiceServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>AuthenticationService</param-name>
			<param-value>fedict/eid/applet/beta/AdministratorRegistrationServiceBean</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletAdministratorRegistrationServiceServlet</servlet-name>
		<url-pattern>/admin/applet-admin-reg-service</url-pattern>
	</servlet-mapping>

	<!-- JAAS login configuration -->
	<filter>
		<filter-name>JAASLoginFilter</filter-name>
		<filter-class>be.fedict.eid.applet.beta.webapp.JAASLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>JAASLoginFilter</filter-name>
		<servlet-name>AppletAdministratorRegistrationServiceServlet</servlet-name>
	</filter-mapping>

	<!-- Beta Feedback configuration -->
	<listener>
		<listener-class>be.fedict.eid.applet.beta.webapp.SessionContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>be.fedict.eid.applet.beta.webapp.TempFileManagerListener</listener-class>
	</listener>
	<session-config>
		<!-- Increase for production environments -->
		<session-timeout>10</session-timeout>
	</session-config>
</web-app>