<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<servlet>
		<servlet-name>AppletServiceServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletServiceServlet</servlet-name>
		<url-pattern>/applet-service</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AppletServiceChangePinServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>ChangePin</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>Logoff</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletServiceChangePinServlet</servlet-name>
		<url-pattern>/applet-service-change-pin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AppletServiceChangePinSecureClientServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>ChangePin</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>SecureClientEnvironmentService</param-name>
			<param-value>test/eid/applet/model/SecureClientEnvironmentCheckerBean</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletServiceChangePinSecureClientServlet</servlet-name>
		<url-pattern>/applet-service-change-pin-secure-client</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AppletServiceChangePinRemoveCardServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>ChangePin</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>SecureClientEnvironmentService</param-name>
			<param-value>test/eid/applet/model/SecureClientEnvironmentCheckerBean</param-value>
		</init-param>
		<init-param>
			<param-name>RemoveCard</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletServiceChangePinRemoveCardServlet</servlet-name>
		<url-pattern>/applet-service-change-pin-remove-card</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AppletServiceUnblockPinServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>UnblockPin</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletServiceUnblockPinServlet</servlet-name>
		<url-pattern>/applet-service-unblock-pin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AppletRemoveCardServiceServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>RemoveCard</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletRemoveCardServiceServlet</servlet-name>
		<url-pattern>/applet-service-remove-card</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AppletPhotoServiceServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>IncludeAddress</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>IncludePhoto</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletPhotoServiceServlet</servlet-name>
		<url-pattern>/applet-service-photo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AppletAddressServiceServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>IncludeAddress</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletAddressServiceServlet</servlet-name>
		<url-pattern>/applet-service-address</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AppletSecureClientServiceServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>SecureClientEnvironmentService</param-name>
			<param-value>test/eid/applet/model/SecureClientEnvironmentCheckerBean</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletSecureClientServiceServlet</servlet-name>
		<url-pattern>/applet-service-secure-client</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AppletInSecureClientServiceServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>SecureClientEnvironmentService</param-name>
			<param-value>test/eid/applet/model/InsecureClientEnvironmentBean</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletInSecureClientServiceServlet</servlet-name>
		<url-pattern>/applet-service-insecure-client</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AppletInSecureWarnClientServiceServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>SecureClientEnvironmentServiceClass</param-name>
			<param-value>test.be.fedict.eid.applet.InsecureClientEnvironmentWarningServiceImpl</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletInSecureWarnClientServiceServlet</servlet-name>
		<url-pattern>/applet-service-insecure-warn-client</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AppletIntegrityServiceServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>IdentityIntegrityService</param-name>
			<param-value>test/eid/applet/model/IdentityIntegrityServiceBean</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletIntegrityServiceServlet</servlet-name>
		<url-pattern>/applet-service-integrity</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AppletAllServiceServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>SecureClientEnvironmentService</param-name>
			<param-value>test/eid/applet/model/SecureClientEnvironmentCheckerBean</param-value>
		</init-param>
		<init-param>
			<param-name>IncludeAddress</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>IncludePhoto</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>IncludeCertificates</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>IdentityIntegrityService</param-name>
			<param-value>test/eid/applet/model/IdentityIntegrityServiceBean</param-value>
		</init-param>
		<init-param>
			<param-name>SkipSecureConnectionCheck</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletAllServiceServlet</servlet-name>
		<url-pattern>/applet-service-all</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AppletAuthnServiceServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>AuthenticationService</param-name>
			<param-value>test/eid/applet/model/AuthenticationServiceBean</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletAuthnServiceServlet</servlet-name>
		<url-pattern>/applet-service-authn</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AppletAuthnRemoveCardServiceServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>AuthenticationService</param-name>
			<param-value>test/eid/applet/model/AuthenticationServiceBean</param-value>
		</init-param>
		<init-param>
			<param-name>RemoveCard</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletAuthnRemoveCardServiceServlet</servlet-name>
		<url-pattern>/applet-service-authn-remove-card</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AppletAuthnLogoffCardServiceServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>AuthenticationService</param-name>
			<param-value>test/eid/applet/model/AuthenticationServiceBean</param-value>
		</init-param>
		<init-param>
			<param-name>Logoff</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletAuthnLogoffCardServiceServlet</servlet-name>
		<url-pattern>/applet-service-authn-logoff-card</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AppletAuthnSecureClientServiceServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>AuthenticationService</param-name>
			<param-value>test/eid/applet/model/AuthenticationServiceBean</param-value>
		</init-param>
		<init-param>
			<param-name>SecureClientEnvironmentService</param-name>
			<param-value>test/eid/applet/model/SecureClientEnvironmentCheckerBean</param-value>
		</init-param>
		<init-param>
			<param-name>Hostname</param-name>
			<param-value>localhost</param-value>
		</init-param>
		<init-param>
			<param-name>InetAddress</param-name>
			<param-value>127.0.0.1</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletAuthnSecureClientServiceServlet</servlet-name>
		<url-pattern>/applet-service-authn-secure-client</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AppletSignServiceServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>SignatureServiceClass</param-name>
			<param-value>test.be.fedict.eid.applet.SignatureServiceImpl</param-value>
		</init-param>
		<init-param>
			<param-name>IncludeCertificates</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletSignServiceServlet</servlet-name>
		<url-pattern>/applet-service-sign</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AppletSignFilesServiceServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>SignatureService</param-name>
			<param-value>test/eid/applet/model/FilesSignatureServiceBean</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletSignFilesServiceServlet</servlet-name>
		<url-pattern>/applet-service-sign-files</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AppletSignXmlFilesServiceServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>SignatureService</param-name>
			<param-value>test/eid/applet/model/XmlSignatureServiceBean</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletSignXmlFilesServiceServlet</servlet-name>
		<url-pattern>/applet-service-sign-xml-files</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>XmlSignatureServlet</servlet-name>
		<servlet-class>test.be.fedict.eid.applet.XmlSignatureServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>XmlSignatureServlet</servlet-name>
		<url-pattern>/signature.xml</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AppletSignFilesAllServiceServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>SignatureService</param-name>
			<param-value>test/eid/applet/model/FilesSignatureServiceBean</param-value>
		</init-param>
		<init-param>
			<param-name>Logoff</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>SecureClientEnvironmentService</param-name>
			<param-value>test/eid/applet/model/SecureClientEnvironmentCheckerBean</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletSignFilesAllServiceServlet</servlet-name>
		<url-pattern>/applet-service-sign-files-all</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AppletKioskServiceServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.AppletServiceServlet</servlet-class>
		<init-param>
			<param-name>Kiosk</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppletKioskServiceServlet</servlet-name>
		<url-pattern>/applet-kiosk-service</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PhotoServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.PhotoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PhotoServlet</servlet-name>
		<url-pattern>/photo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PdfServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.PdfServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>KmlServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.KmlServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VcardServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.VcardServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JSONServlet</servlet-name>
		<servlet-class>be.fedict.eid.applet.service.JSONServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PdfServlet</servlet-name>
		<url-pattern>/identity.pdf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KmlServlet</servlet-name>
		<url-pattern>/identity.kmz</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VcardServlet</servlet-name>
		<url-pattern>/identity.vcf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JSONServlet</servlet-name>
		<url-pattern>/identity.js</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>LogFilter</filter-name>
		<filter-class>test.be.fedict.eid.applet.LogFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LogFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>